.form {
  margin: 20px;
}

.form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

.form label {
  text-align: left;
}

.container {
  background-color: lightgray;
}
