:root {
  /* declare a variable with `--` syntax */
  --dark: #13293d;
  --light: #fff;
}
#header {
  padding: 1rem;
  text-align: center;
  background: var(--dark);
  color: var(--light);

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

#footer {
  justify-content: center;
}

#aboutme,
#error-page,
#resume,
#contact,
#portfolio-list {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
}
#introduction,
#avatarimage {
  padding: 10px;
  margin: 10px;
}
/*section that holds both images and the text we want to place over the image of Project work*/
.portfolio-container {
  position: relative;
}

/* styling for the container that holds text*/

.project-contents {
  position: absolute;
  color: var(--dark);
  background-color: var(--light);
  font-size: small;
  padding: 0.5rem;
  top: 20%;
}

.portfolio-container img {
  /* width: 100%; */
  padding: 0.5rem;
  /* height: 20rem; */
  background: var(--light);
  float: left;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

#github-img {
  width: 3rem;
  height: 3rem;
}
/*Hover effect on the portfolio section*/
.projectimage {
  opacity: 0.3;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.portfolio-container:hover .projectimage {
  opacity: 1;
}

#portfolios {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: flex-start; */
  min-height: 100vh;
}
