#header {
  justify-content: space-around;
}

#footer {
  justify-content: center;
}

#aboutme,
#error-page,
#resume,
#contact,
#portfolio {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
